<div class="container mx-auto">
  <div class="flex">
    <div class="px-4 py-4  h-[100vh] bg-slate-100 flex flex-col items-center">
      <button (click)="isList = !isList" type="button" class="w-full justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        {{!isList? 'Lista': 'Mapa'}}
        <svg [ngClass]="{'rotate-180':!isList}" class=" w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </button>
      <div class="pt-10 flex flex-col gap-3">
        <app-search [placeholder]="'ubicacion'"></app-search>
        <app-selectcheck [data]="operation" [setValue]="filterParams.operation" (selectedSingle)="filterOperation($event)"></app-selectcheck>
        <app-selectcheck [data]="type" (selectedMulti)="filterType($event)" [setValue]="filterParams.type"></app-selectcheck>
        <app-selectcheck [data]="estrato" (selectedMulti)="filterEstrato($event)"></app-selectcheck>
        <!-- <app-selectcheck [data]="barrio" (selectedMulti)="filterBarrio($event)"></app-selectcheck> -->
        <app-form-range (range)="filterPrice($event)" [labelStr]="'Precio'"></app-form-range>
        <app-form-range (range)="filterArea($event)" [labelStr]="'Area'"></app-form-range>
      </div>
    </div>
    @if (isList) {
      
      <div class="w-full flex flex-col items-center" >
        <app-filter-topbar class="w-full" (order)="getOrder($event)"></app-filter-topbar>
        @if (locals && locals.length > 0) {
          <div class="grid w-full grid-cols-1 xs:grid-cols-1 gap-6 ms:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 ms-2">
            <div class="relative" *ngFor="let item of locals">
              <button class=" bg-white p-1 opacity-80 rounded-sm  h-30 w-30 absolute z-[9999] ms-6 mt-4 right-6" (click)="onMap(item._id)">
                @if (mapIdSelected == item._id) {
                  
                  <svg  width="25px" height="25px" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M320 89.6h640v76.8H320V89.6z m0 768h640v76.8H320v-76.8z m-256-768h128v76.8H64V89.6z m256 384h640v76.8H320V473.6z m-256 0h128v76.8H64V473.6z m0 384h128v76.8H64v-76.8z" fill="#000000" /></svg>
     
                }@else {
                  <svg class="" width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.7 15C4.03377 15.6353 3 16.5205 3 17.4997C3 19.4329 7.02944 21 12 21C16.9706 21 21 19.4329 21 17.4997C21 16.5205 19.9662 15.6353 18.3 15M12 9H12.01M18 9C18 13.0637 13.5 15 12 18C10.5 15 6 13.0637 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9ZM13 9C13 9.55228 12.5523 10 12 10C11.4477 10 11 9.55228 11 9C11 8.44772 11.4477 8 12 8C12.5523 8 13 8.44772 13 9Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                }   
           </button>
           @if (mapIdSelected == item._id) {
            <div class="">
              <app-map [localData]="item"></app-map>
            </div>
          }  @else {
              <app-card  [data]="item"></app-card>
          }
            </div>
            </div>
            <app-pagination class="mt-5 mb-10" [pageData]="pagination" (pageChange)="gotoPage($event)"></app-pagination>
          }@else {
            @if (!loading) {
              <div class="mt-10">
                No hay Resultados
              </div>
            }
            @if(loading){
              <div class="w-full h-[80vh] flex justify-center align-middle items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block; background: rgb(255, 255, 255);" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-linecap="round" fill="none" stroke-dasharray="50.26548245743669 50.26548245743669" stroke="#bde9ff" stroke-width="8" r="32" cy="50" cx="50">
                  <animateTransform values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform>
                </circle><g></g></g><!-- [ldio] generated by https://loading.io --></svg>
              </div>
            }     
          }
        </div> 
      }@else {
        @if (locals) {
          <div class="flex flex-col w-full">
            <app-map [localDataList]="locals" class="w-full"></app-map>
            <app-pagination class="w-full" [pageData]="pagination" (pageChange)="gotoPage($event)"></app-pagination>
          </div>
        }
      }
      
  </div>

</div>
