<footer class="bg-primarybg">
    <div class="md:pt-[50px]  md:pb-[50px] pb-[0] bg-primarybg md:flex justify-between container mx-auto md:px-0 px-[10px] ">
      <div class="w-full md:w-[45%]">
          <h2 class="text-[20px] md:text-h2 font-semibold  w-full md:w-[500px]">Hubungi Kami </h2>
          <div class="mt-[30px] md:mt-[10px] md:mt-[60px] md:flex justify-between">
            <div class="w-full md:w-[45%] rounded-xl border border-orange p-[20px]">
              <div class="flex">
                <div class="w-[30%] flex items-center justify-center">
                  <i class="fa-solid fa-phone text-[30px] "></i>
                </div>
                <div class="w-[70%]">
                    <p>Call</p>
                    <p>+6281232936733</p>
                </div>
              </div>
              <button class="rounded-xl mt-[20px] border border-orange w-full  h-[50px] flex justify-center items-center font-semibold group relative overflow-hidden hover:text-white duration-[1000ms] hover:shadow-lg text-orange bg-lightorange"><a href="tell:+8801876927467" class="z-[2] relative"><i class="fa-solid fa-phone"></i> &nbsp; Hubungi Kami</a>
            <div class=" absolute w-[300px] h-[300px] rounded-full bg-orange bottom-[-300px] group-hover:bottom-[-100px] duration-[1000ms] "></div></button>

            </div>
            <div class="w-full md:w-[45%] md:mt-[0] mt-[10px] rounded-xl border border-orange p-[20px]">
              <div class="flex">
                <div class="w-[30%] flex items-center justify-center">

                  <i class="fa-solid fa-envelope text-[30px]"></i>
                </div>
                <div class="w-[70%]">
                    <p>email</p>
                    <p>omah.com</p>
                </div>
              </div>
              <button class="rounded-xl mt-[20px] border border-orange w-full  h-[50px] flex justify-center items-center font-semibold group relative overflow-hidden hover:text-white duration-[1000ms] hover:shadow-lg text-orange bg-lightorange"><a href="mailto:hamza.altamas.01876@gmail.com" class="z-[2] relative"><i class="fa-solid fa-phone"></i> &nbsp; Hubungi Kami</a>
            <div class=" absolute w-[300px] h-[300px] rounded-full bg-orange bottom-[-300px] group-hover:bottom-[-100px] duration-[1000ms] "></div></button>

            </div>
          </div>
      </div>




      <div class="w-full md:w-[45%] md:mt-0 mt-[40px]">
          <h2 class="text-[20px] md:text-h2 font-semibold  w-full md:w-[500px]">Penghargaan </h2>
          <div class="mt-[10px] md:mt-[60px] md:flex justify-between">
            <div class="w-full md:w-[45%] pt-[20px] md:pt-[0]">
              <img src="ipa1.png" class="w-full h-auto" alt="">

            </div>
            <div class="w-full md:w-[45%] pt-[20px] md:pt-[0]">
              
                  <img src="ipa2.png" class="w-full h-auto" alt="">
            </div>
          </div>
      </div>
    </div>
    <div class="bg-blue text-white md:py-[25px] py-[15px]">
    <div class="md:flex justify-between container mx-auto md:px-0 px-[10px]">
      <div class="w-full md:w-[50%] flex justify-center md:justify-start">
          <img src="logowhite.png" alt="" srcset="" class="w-[82px] h-auto"/>
      
      </div>
      <div class="w-full md:w-[50%] flex md:justify-end justify-center items-center ">
        <ul class="flex gap-x-[20px]">
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>  
    </div>
  </footer>
